In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/transact_18_22/transact_18_22.csv")
start_date = '2019-01-015'
end_date = '2019-12-14'

mask = (df['date'] >= start_date) & (df['date'] <= end_date)
df = df.loc[mask]
df

,client,card,date,amt,mcc,group,value
3170303,3007698,3505412,2019-01-02,171.43,5411,food,survival
3170304,2189878,3420626,2019-01-02,598.00,5912,health,survival
3170305,1041481,4377079,2019-01-02,315.00,5814,food,survival
3170306,577524,4327623,2019-01-02,395.00,5921,fun,self_realization
3170307,3322082,4144825,2019-01-02,148.90,5411,food,survival
...,...,...,...,...,...,...,...
6905035,1414524,4625952,2019-12-14,4000.00,6011,money,money
6905036,2136509,3573708,2019-12-14,97.90,5411,food,survival
6905037,2906095,4238838,2019-12-14,4000.00,6011,money,money
6905038,1401266,4573942,2019-12-14,179.00,5399,nonfood,socialization
6905039,3049918,5120792,2019-12-14,799.00,5691,outfit,survival

In [3]:
prev_categories_to_mcc = df[["mcc", "group"]].groupby("group").agg(set).tail(14).reset_index()
prev_categories_to_mcc

       group                                                mcc
0     beauty                           {5977, 7298, 7230, 5631}
1    charity                                             {8398}
2   dwelling  {5251, 4900, 5261, 5039, 5712, 5714, 5719, 572...
3       food  {5441, 5411, 5451, 5422, 5812, 5462, 5814, 549...
4        fun  {7941, 7832, 5921, 7841, 5813, 5941, 7991, 581...
5     health         {8099, 8071, 8011, 8043, 8021, 5912, 8062}
6       kids                     {5641, 8299, 5943, 5945, 8220}
7       misc                     {7299, 8999, 7399, 7311, 9399}
8      money  {6051, 9222, 6536, 6538, 6540, 6300, 6010, 601...
9    nonfood         {5931, 5999, 5200, 5331, 5399, 5948, 5311}
10    outfit               {5661, 5699, 5651, 5621, 5691, 5949}
11    remote                                       {5968, 5964}
12   telecom         {4899, 5732, 4812, 4814, 4816, 4215, 9402}
13    travel  {4131, 7011, 5541, 7523, 5542, 3011, 5511, 411...

In [4]:
sssr = {
    "food": "survival",
    "clothes_and_outfit": "survival",
    "dwelling_and_home_services": "survival",
    "healthcare_and_medicine": "survival",

    "remote_trade": "socialization",
    "travel_and_public_transport": "socialization",
    "non_food_goods": "socialization",
    "telecommunications": "socialization",
    "miscellaneous_expenses": "socialization",

    "beauty_and_cosmetics": "self_realization",
    # "kids": "self_realization",
    "fun_and_entertainment": "self_realization",
    "charity": "self_realization",

    "money": "money"
}

In [5]:
categories_to_mcc = {
    'survival': [
        5411, 5422, 5441, 5451, 5462, 5499, 5811, 5812, 5814, 5921, 5611, 5621, 5631, 5641, 5651, 5655, 5661, 5681, 5691, 5697, 5698, 5699,
        1520, 1711, 1731, 1740, 1750, 1761, 1771, 1799, 5211, 5231, 5251, 5261, 5271, 7011, 742, 5912, 5975, 5976, 7210, 7211, 7216, 7217,
        7261, 7297, 7298, 8011, 8021, 8031, 8041, 8042, 8043, 8049, 8050, 8062, 8071, 8099, 4900, 763, 780, 5541, 5542, *range(5712, 5723)
    ],

    'socialization': [
        *range(3000, 3351), *range(3351, 3501), *range(3501, 4000),
        4011, 4111, 4112, 4119, 4121, 4131, 4214, 4215, 4225, 4411, 4457, 4468, 4511, 4582, 4722, 4784, 4789, 7012, 7032, 7033, 7512, 7513,
        7519, 7523, 4812, 4813, 4814, 4816, 4821, 4899, 5200, 5300, 5309, 5310, 5311, 5331, 5399, 7273, 7276, 7277, 7278, 7296, 8111
    ],

    'self_realization': [
        5732, 5733, 5734, 5735, 5813, 5815, 5816, 5817, 5818, 5941, 5942, 5945, 5946, 5947, 5970, 5971, 5972, 5973, 7221, 7230, 7251, 7829,
        7832, 7841, 7911, 7922, 7929, 7932, 7933, 7941, 7991, 7992, 7993, 7994, 7996, 7997, 7998, 7999, 5943, 8211, 8220, 8241, 8244, 8249,
        8299, 8351, 5977, 5978, 5997, 8398, 5551, 5561
    ],

    'business': [
        2741, 2791, 2842, 5013, 5021, 5039, 5044, 5045, 5046, 5047, 5051, 5065, 5072, 5074, 5085, 5094, 5099, 5111, 5122, 5131, 5137, 5139,
        5169, 5172, 5192, 5193, 5198, 5199, 7311, 7321, 7322, 7333, 7338, 7339, 7342, 7349, 7361, 7372, 7375, 7379, 7392, 7393, 7394, 7395,
        7399, 8911, 8931, 8999, 5531, 5532, 5533, 7531, 7534, 7535, 7538, 7542, 7549, 5511, 5521, 5571, 5599
    ],

    'government': [
        9211, 9222, 9223, 9311, 9399, 9402, 9405, 9406, 8641, 8651, 8661, 8675, 8699, 8734
    ],

    'money': [
        4829, 6010, 6011, 6012, 6050, 6051, 6211, 6300, 6513, 6532, 6533, 6536, 6537, 6538, 6540
    ],

    'special': [
        7800, 7801, 7802, 7995, 5931, 5932, 5933, 5935, 5937, 5940, 5944, 5948, 5949, 5950, 5960, 5962, 5963, 5964, 5965, 5966, 5967, 5968,
        5969, 5983, 5992, 5993, 5994, 5995, 5996, 5998, 5999, 7295, 7299, 7622, 7623, 7629, 7631, 7641, 7692, 7699
    ]
}

In [6]:
categorized_mccs = set()
for k in categories_to_mcc:
    categorized_mccs |= set(categories_to_mcc[k])

len(categorized_mccs)

1299

In [7]:
def get_category(mcc):
    categories = []
    for category in categories_to_mcc:
        if mcc in categories_to_mcc[category]:
            categories.append(category)

    if len(categories) == 0 or len(categories) > 1:
        print(f"More than one or zero category for MCC, mcc_code={mcc}, categories={categories}")
    return categories[0]

def get_sssr(mcc):
    category = get_category(mcc)
    return sssr[category]

In [8]:
set(df["mcc"].unique().tolist()).difference(categorized_mccs)

set()

In [9]:
prepared_df = df[["client", "card", "date", "amt", "mcc"]].copy()
prepared_df.loc[:, "group"] = prepared_df["mcc"].apply(get_category)
prepared_df.drop(["mcc", "card"], axis=1, inplace=True)

In [10]:
prepared_df = prepared_df[(prepared_df["group"] == "survival") | (prepared_df["group"] == "socialization") | (prepared_df["group"] == "self_realization")]

In [11]:
prepared_df = prepared_df.groupby(["client", "date"]).agg(list)
prepared_df

                                                    amt  \
client  date
224     2019-01-03                     [2260.04, 380.0]
        2019-01-05                        [409.0, 41.0]
        2019-01-06                     [926.38, 1500.0]
        2019-01-07                       [319.0, 361.1]
        2019-01-08                        [18.5, 277.9]
...                                                 ...
3564569 2019-12-10       [149.0, 1043.0, 107.98, 118.0]
        2019-12-11                 [45.0, 45.0, 468.75]
        2019-12-12                     [298.28, 149.38]
        2019-12-13  [84.0, 150.0, 331.0, 288.9, 380.88]
        2019-12-14                    [1089.63, 2580.0]

                                                                group
client  date
224     2019-01-03                               [survival, survival]
        2019-01-05                          [survival, socialization]
        2019-01-06                          [survival, socialization]
        2019-01-07                               [survival, survival]
        2019-01-08                               [survival, survival]
...                                                               ...
3564569 2019-12-10           [survival, survival, survival, survival]
        2019-12-11           [socialization, socialization, survival]
        2019-12-12                               [survival, survival]
        2019-12-13  [survival, survival, survival, survival, survi...
        2019-12-14                               [survival, survival]

[1467368 rows x 2 columns]

In [12]:
basic_value = 200
categories = {"survival": 0, "socialization": 1, "self_realization": 2}

cnt = 0
for id, row in prepared_df.iterrows():
    cnt += 1
    if cnt % 100000 == 0:
        print(cnt)

    amounts = row["amt"]
    groups = row["group"]

    res = [0, 0, 0]
    for value, category in zip(amounts, groups):
        if value >= basic_value:
            res[categories[category]] = 1

    prepared_df.loc[id, "survival"] = res[0]
    prepared_df.loc[id, "socialization"] = res[1]
    prepared_df.loc[id, "self_realization"] = res[2]
    prepared_df.loc[id, "code"] = res[0] + res[1] * 2 + res[2] * 4

100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000

In [13]:
prepared_df

                                                    amt  \
client  date
224     2019-01-03                     [2260.04, 380.0]
        2019-01-05                        [409.0, 41.0]
        2019-01-06                     [926.38, 1500.0]
        2019-01-07                       [319.0, 361.1]
        2019-01-08                        [18.5, 277.9]
...                                                 ...
3564569 2019-12-10       [149.0, 1043.0, 107.98, 118.0]
        2019-12-11                 [45.0, 45.0, 468.75]
        2019-12-12                     [298.28, 149.38]
        2019-12-13  [84.0, 150.0, 331.0, 288.9, 380.88]
        2019-12-14                    [1089.63, 2580.0]

                                                                group  \
client  date
224     2019-01-03                               [survival, survival]
        2019-01-05                          [survival, socialization]
        2019-01-06                          [survival, socialization]
        2019-01-07                               [survival, survival]
        2019-01-08                               [survival, survival]
...                                                               ...
3564569 2019-12-10           [survival, survival, survival, survival]
        2019-12-11           [socialization, socialization, survival]
        2019-12-12                               [survival, survival]
        2019-12-13  [survival, survival, survival, survival, survi...
        2019-12-14                               [survival, survival]

                    survival  socialization  self_realization  code
client  date
224     2019-01-03       1.0            0.0               0.0   1.0
        2019-01-05       1.0            0.0               0.0   1.0
        2019-01-06       1.0            1.0               0.0   3.0
        2019-01-07       1.0            0.0               0.0   1.0
        2019-01-08       1.0            0.0               0.0   1.0
...                      ...            ...               ...   ...
3564569 2019-12-10       1.0            0.0               0.0   1.0
        2019-12-11       1.0            0.0               0.0   1.0
        2019-12-12       1.0            0.0               0.0   1.0
        2019-12-13       1.0            0.0               0.0   1.0
        2019-12-14       1.0            0.0               0.0   1.0

[1467368 rows x 6 columns]

In [14]:
prepared_df = prepared_df[["survival", "socialization", "self_realization", "code"]]
prepared_df

                    survival  socialization  self_realization  code
client  date
224     2019-01-03       1.0            0.0               0.0   1.0
        2019-01-05       1.0            0.0               0.0   1.0
        2019-01-06       1.0            1.0               0.0   3.0
        2019-01-07       1.0            0.0               0.0   1.0
        2019-01-08       1.0            0.0               0.0   1.0
...                      ...            ...               ...   ...
3564569 2019-12-10       1.0            0.0               0.0   1.0
        2019-12-11       1.0            0.0               0.0   1.0
        2019-12-12       1.0            0.0               0.0   1.0
        2019-12-13       1.0            0.0               0.0   1.0
        2019-12-14       1.0            0.0               0.0   1.0

[1467368 rows x 4 columns]

In [15]:
prepared_df.to_csv("processed/transact_18_22.csv", index=True)